@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;

}
html{
    scroll-behavior: smooth;
}
:root{
    --bg-clr: rgb(15, 15, 15);
    --3xl-txt: 5rem;
    --1xl-txx: 4rem;
    --main-txt: rgb(6, 255, 6);
    --sec-txt: rgb(255, 0, 0);    
}
body{
    background-color: var(--bg-clr);
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    box-shadow: 0px 0px 1px grey;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    align-items: center;
}
nav .logo img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
nav .links{
    display: flex;
    gap: 3rem;
}
nav .links a{
    color: var(--main-txt);
    font-weight: 500;
    transition: 0.3s color;
}

nav .links a:hover{
    color: grey;
}
nav .logo img{
    cursor: pointer;
    transition: transform 0.3s;
}
nav .logo img:hover{
    transform: scale(1.1);
}

main{
    height: 80vh;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

main h1{
    font-size: var(--3xl-txt);
    text-transform: uppercase;
    text-align: center;
    color: white;
}
main span{
    color: var(--main-txt);
    text-decoration: underline;
    cursor: pointer;
    transition: 0.3s color;
}
main span:hover{
    color: var(--sec-txt);
}
main h3{
    text-align: center;
    color: white;

}
main .main-btns{
    padding: 1rem;
    gap: 1rem;
}
.main-btns a{
    padding: 15px;
    background-color: transparent;
    border: 2px solid var(--main-txt);
    color: white;
    transition: all 0.3s;
    font-weight: 500;
}
.main-btns a:hover{
    background-color: var(--main-txt);
    color: var(--bg-clr);
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
}
section{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,50%);
    place-items: center;
    height: 50vh;
    margin-bottom: 4rem;
}
section .red{
    width: 100%;
    height: 100%;
    background-color: var(--sec-txt);
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.red h2{
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}
.red:hover{
    background-color: var(--main-txt);
    color: var(--bg-clr);
}

section .green{
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--main-txt);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
.green h2{
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}
.green:hover{
    background-color: var(--sec-txt);
    color: white;
}

section a{
    position: absolute;
    background-color: var(--bg-clr);
    bottom: 5%;
    padding: 5px;
    border: 2px solid var(--main-txt);
    color: white;
    transition: all 0.3s;
    font-weight: 500;
}
section a:hover{
    background-color: var(--main-txt);
    color: var(--bg-clr);
    border: 2px solid var(--bg-clr);
}


.pricings{
    display: flex;
    height: 60vh;
    padding: 3rem;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}
.price-head {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 1rem;
}
.price-card{
    width: 80%;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid snow;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
    gap: 1rem;
}
.price-card ul li{
    font-weight: 300;
}
.price-card:hover{
    background-color: var(--main-txt);
    border: none;
    color: var(--bg-clr);
}
.price-card-head {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--sec-txt);
}

.price-card a{
    padding: 5px;
    border: 2px solid white;
    color: white;
    transition: all 0.3s;
    font-weight: 500;
    opacity: 1;
    transition: all 0.3s;
}
.price-card a:hover{
    border: 2px solid var(--bg-clr);
    color: var(--bg-clr);
}
.slash{
    text-decoration: line-through;
}


footer{
    width: 100%;
    height: 30vh;
    background-color: var(--main-txt);
    display: flex;
    padding: 3rem;
    justify-content: space-evenly;
    align-items: center;
}
footer .works{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .image img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.socials a{
    color: var(--sec-txt);
    font-weight: 500;
}
.works a{
    color: var(--sec-txt);
    font-weight: 500;
}




@media screen and (max-width: 420px) {
    nav .links{
        gap: 25px;
        font-size: 10px;
    }
    main{
        height: 100%;
    }
    main h1{
        font-size: 3rem;
    }
    main h3{
        font-size: 15px;
        font-weight: 400;
    }
    main .main-btns{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1px;
    }
    section{
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
    }
    section a{
        top: 100%;
        height: fit-content;
        margin-top: 1rem;

    }
    .pricings{
        font-size: 12px;
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
    }
    footer{
        display: flex;
        flex-direction: column;
        height: fit-content;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    footer .works{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .socials{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}